Repository prgrms-be-devcourse/NBE4-5-2-Team06, pull requests merged in 2025-03, with the labels that each got.

#9 feat: 특정 경매 상세 조회
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionDetailResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/repository/AuctionRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/product/dto/ProductResponse.java
Labels: 🔥 backend, ✨ feat

#10 feat: 회원가입 기능 구현
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignUpRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignUpResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/user/entity/User.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/global/app/SecurityConfig.java
  backEnd/src/main/java/org/example/bidflow/global/exception/GlobalExceptionAdvisor.java
  backEnd/src/main/resources/application.yml
Labels: 🔥 backend, ✨ feat

#14 [FEAT] 외부 요청에 대한 거래 종료
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/WinnerResponseDto.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/entity/Auction.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/repository/AuctionRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/repository/BidRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/repository/WinnerRepository.java
  backEnd/src/main/java/org/example/bidflow/global/exception/GlobalExceptionAdvisor.java
  backEnd/src/main/resources/application.yml
  backEnd/src/main/resources/data.sql
Labels: 🔥 backend, 🐛bug, ✨ feat

#13 feat: [관리자] 경매 등록
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AdminAuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionDataResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionDto.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/product/dto/ProductResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/product/repository/ProductRepository.java
  backEnd/src/main/resources/data.sql
Labels: 🔥 backend, ✨ feat

#15 feat : 사용자 - 전체 경매 상품 리스트 조회
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/repository/AuctionRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/BidDto.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/domain/product/dto/ProductDto.java
  backEnd/src/main/java/org/example/bidflow/domain/product/service/ProductService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/entity/User.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerDto.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/service/WinnerService.java
  backEnd/src/main/java/org/example/bidflow/global/init/BaseInitData.java
  backEnd/src/main/resources/application.yml
  backEnd/src/main/resources/data.sql
Labels: 🔥 backend, 🐛bug, ✨ feat

#24 feat: frontend 패키지 구조 설계
  frontend/src/docs/packageIntro.md
Labels: ✨ feat, 🌈 frontend

#20 feat: 로그인 기능 구현
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignInRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignInResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/global/utils/JwtProvider.java
Labels: 🔥 backend, ✨ feat

#25 feat(6): 입찰 기능 구현
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionBidRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/BidCreateResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/BidDto.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/entity/Bid.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/repository/BidRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
Labels: 🔥 backend, ✨ feat, ⚙️chore

#27 feat(17): [사용자] 낙찰자 조회 - 마이페이지
  backEnd/src/main/java/org/example/bidflow/domain/winner/controller/WinnerController.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerCheckResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/repository/WinnerRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/service/WinnerService.java
Labels: 🔥 backend, ✨ feat

#32 feat(28): 경매 세부 페이지 구성
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsFilter.java
  backEnd/src/main/resources/data.sql
  frontend/src/app/auctions/[auctionId]/page.tsx
Labels: 🐛bug, ✨ feat, 🌈 frontend

#36 feat: Header, Footer ui 생성 및 꾸미기
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/theMostHandsomePerson.png
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auction/AuctionCloseButton.tsx
  frontend/src/components/auction/AuctionDetail.tsx
  frontend/src/components/auction/WinnerInfo.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/utils.ts
Labels: ✨ feat, 🌈 frontend

#37 ✨ feat(30): [관리자] 경매 등록 페이지 추가
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/components/ui/textarea.tsx
Labels: ✨ feat, 🌈 frontend

#40 feat(31): Redis를 활용한 로그아웃 방식 구현 & 로그인/회원가입 페이지 구현
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/JwtBlacklistService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/global/app/RedisConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/JwtAuthenticationFilter.java
  backEnd/src/main/java/org/example/bidflow/global/utils/JwtProvider.java
  backEnd/src/main/resources/application.yml
  frontend/package-lock.json
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/LogoutButton.tsx
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/lib/api/auth.ts
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#35 feat(29,33) : 사용자/관리자-전체 경매 상품 리스트 조회
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/auctions/layout.tsx
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/tsconfig.json
Labels: ✨ feat, 🌈 frontend

#42 refactor(41) : 메인페이지 수정
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsFilter.java
  frontend/components.json
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Labels: 🌈 frontend, ♻️ refactor

#45 feat(43): 실시간 낙찰 기능 구현
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/BidFlowApplication.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionAdminResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/entity/Auction.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/repository/AuctionRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/controller/BidController.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/request/redis/StringRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidCreateResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidDto.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidInfo.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/redis/StringResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/JwtBlacklistService.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionScheduler.java
  backEnd/src/main/java/org/example/bidflow/global/app/RedisCommon.java
  backEnd/src/main/java/org/example/bidflow/global/app/RedisConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/JwtAuthenticationFilter.java
  backEnd/src/main/resources/TODO.md
  backEnd/src/main/resources/application.yml
  backEnd/src/main/resources/data.sql
  backEnd/src/main/resources/docker-compose.yml
  backEnd/src/main/resources/etst.md
  backEnd/src/test/java/org/example/bidflow/PasswordEncoderTest.java
Labels: 🔥 backend, ✨ feat

#48 feat(46) : 사용자 정보 조회 기능
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserCheckRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/entity/User.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/resources/application.yml
Labels: 🔥 backend, ✨ feat

#55 feat(50): userUuid -> userUUID 변경
  backEnd/src/main/java/org/example/bidflow/domain/bid/controller/BidController.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidCreateResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidInfo.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserCheckRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignInResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserSignUpResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/user/entity/User.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/controller/WinnerController.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerResponseDto.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/repository/WinnerRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/service/WinnerService.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionScheduler.java
  backEnd/src/main/java/org/example/bidflow/global/app/StompHandshakeHandler.java
  backEnd/src/main/java/org/example/bidflow/global/utils/JwtProvider.java
Labels: 🔥 backend, ♻️ refactor

#54 feat(49) : 사용자 정보 수정기능 추가 (Setter삭제)
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/UserPutRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/entity/User.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/resources/application.yml
Labels: 🔥 backend, ✨ feat

#57 [Refactor]: 경매 리스트 및 특정 경매 조회시 최고가 가져오기를 Redis와 연결하기 (수정)
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
Labels: ♻️ refactor

#60 refactor(59): userUUID로 변수명 통일:3개 수정
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
Labels: 🔥 backend, ♻️ refactor

#64 feat(62): 기능명 UUID 변경
  frontend/src/app/auctions/[auctionId]/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/lib/api/auth.ts
Labels: 🔥 backend, ♻️ refactor

#68 feat(65): 커스텀 어노테이션 추가 (관리자)
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/global/annotation/HasRole.java
  backEnd/src/main/java/org/example/bidflow/global/app/SecurityConfig.java
  backEnd/src/main/java/org/example/bidflow/global/aspect/RoleAspect.java
  backEnd/src/main/java/org/example/bidflow/global/filter/JwtAuthenticationFilter.java
  backEnd/src/main/java/org/example/bidflow/global/utils/JwtProvider.java
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auction/AuctionForm.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, ♻️ refactor

#63 feat(47): 회원가입 과정에서 이메일 인증 기능 추가
  backEnd/build.gradle
  backEnd/src/main/java/org/example/bidflow/domain/user/controller/UserController.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/EmailSendRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/dto/EmailVerificationRequest.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/EmailService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/resources/application.yml
Labels: 🔥 backend, ✨ feat

#69 feat(67): redis + webSocket 적용 및 연결(2)
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionCheckResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionDetailResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/entity/Winner.java
  frontend/src/app/auctions/[auctionId]/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/page.tsx
Labels: 🔥 backend, 🌈 frontend, ♻️ refactor

#75 refactor(71): 로그아웃 버튼 클릭 시 세션 스토리지 비우기
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auth/LogoutButton.tsx
  frontend/src/components/auth/SignUpForm.tsx
Labels: ✨ feat, 🌈 frontend, ♻️ refactor

#76 refactor(73): 회원가입 & 로그인 폼 수정
  backEnd/src/main/java/org/example/bidflow/domain/user/service/EmailService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionScheduler.java
  frontend/src/app/mypage/page.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/SignUpForm.tsx
Labels: 🌈 frontend, ♻️ refactor

#79 feat(78) : Finished 상태 스케쥴러 구현
  backEnd/src/main/java/org/example/bidflow/global/app/FinishedScheduler.java
Labels: 🔥 backend, ✨ feat

#80 Refactor(66) : 로그인/회원가입/마이페이지/로그아웃 UI 수정
  frontend/src/app/auth/login/page.tsx
  frontend/src/components/Header.tsx
Labels: 🌈 frontend, ♻️ refactor

#89 feat(84): 마이페이지 추가
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerCheckResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/service/WinnerService.java
  frontend/public/default-profile.png
  frontend/src/app/auctions/winner/[userUUID]/page.tsx
  frontend/src/app/mypage/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#92 feat(86): 경매 마감되면 경매상태 (status) 변경 요청 처리
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionScheduler.java
  backEnd/src/main/java/org/example/bidflow/global/app/SecurityConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsFilter.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auctions/[auctionId]/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auction/AuctionForm.tsx
  frontend/src/components/ui/dialog.tsx
Labels: 🔥 backend, 🌈 frontend, ♻️ refactor

#94 feat(93): 헤더 Bearer Token 요청으로 수정
  backEnd/src/main/java/org/example/bidflow/global/app/FinishedScheduler.java
  frontend/src/app/mypage/page.tsx
  frontend/src/components/ui/Dialog.tsx
Labels: 🌈 frontend, ♻️ refactor

#97 feat(95): Scheduler 리팩토링
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionFinishedEvent.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionListenerEvent.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionSchedulerEvent.java
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#98 feat(83): 전체 경매 조회 페이지 리팩토링 및 메인페이지 실시간 입찰가 반영
  backEnd/src/main/java/org/example/bidflow/domain/auction/dto/AuctionAdminResponse.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  frontend/src/app/admin/auctions/list/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/auction/AuctionCloseButton.tsx
  frontend/src/components/auth/SignUpForm.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, ♻️ refactor

#96 refactor(77) : 로그아웃 블랙리스트 기법 적용
  backEnd/src/main/java/org/example/bidflow/domain/user/service/JwtBlacklistService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/service/UserService.java
  backEnd/src/main/java/org/example/bidflow/global/app/SecurityConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsConfig.java
  backEnd/src/main/java/org/example/bidflow/global/filter/JwtAuthenticationFilter.java
  backEnd/src/main/java/org/example/bidflow/global/utils/JwtProvider.java
  backEnd/src/main/resources/data.sql
  frontend/package-lock.json
  frontend/src/app/mypage/page.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/dialog.tsx
Labels: 🔥 backend, ♻️ refactor

#100 feat(99): 주석, 파일 삭제가 포함된 리팩토링
  backEnd/src/main/java/org/example/bidflow/domain/auction/controller/AuctionController.java
  backEnd/src/main/java/org/example/bidflow/domain/auction/service/AuctionService.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidDto.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/dto/model/response/BidInfo.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/repository/BidRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/bid/service/BidService.java
  backEnd/src/main/java/org/example/bidflow/domain/product/dto/ProductDto.java
  backEnd/src/main/java/org/example/bidflow/domain/product/repository/ProductRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/product/service/ProductService.java
  backEnd/src/main/java/org/example/bidflow/domain/user/repository/UserRepository.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerDto.java
  backEnd/src/main/java/org/example/bidflow/domain/winner/dto/WinnerResponseDto.java
  backEnd/src/main/java/org/example/bidflow/global/app/AuctionScheduler.java
  backEnd/src/main/java/org/example/bidflow/global/app/FinishedScheduler.java
  backEnd/src/main/java/org/example/bidflow/global/filter/CorsFilter.java
  frontend/next.config.ts
  frontend/src/components/ui/dialog.tsx
Labels: ♻️ refactor
